* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open-Sans", sans-serif;
  color: rgb(44, 41, 44);
  background: linear-gradient(
    to top,
    var(--clr-neutral-100),
    var(--clr-primary-200)
  );
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  color: var(--clr-neutral-900);
  width: 100%;
  margin-top: auto;
}

#main-header {
  padding: 1rem 5%;
  text-align: center;
  display: flex;
  justify-content: center;
}

header img {
  max-width: 300px;
}

.btn {
  font: inherit;
  margin: 1rem 0.3rem;
  width: 9rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--clr-primary-400);
  border: 3px solid black;
  color: var(--clr-neutral-900);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-100);
  transform: scale(105%);
}

.btn-alt {
  cursor: pointer;
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-900);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: 3px solid black;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.btn-alt:hover {
  background-color: var(--clr-neutral-600);
  color: var(--clr-neutral-100);
}

.start-btn {
  font: inherit;
  padding: 1rem 2rem;
  background-color: var(--clr-primary-400);
  border: 3px solid black;
  /* box-shadow: 4px 4px 0px rgba(0, 0, 0, 1); */
  color: var(--clr-neutral-900);
  font-weight: bold;
  font-size: var(--fs--large);
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.start-btn:hover {
  background-color: var(--clr-primary-600);
  transform: scale(103%);
  color: var(--clr-neutral-100);
}
