:root {
  --clr-primary-400: #ffb703;
  --clr-primary-600: #fb8500;
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #8ecae6;
  --clr-neutral-400: #219ebc;
  --clr-neutral-600: #023047;
  --clr-neutral-900: #333333;

  --ff-regular: "Open-Sans", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}
